<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <table id="table" class="highlight">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Concept</th>
                    <th>Amount</th>
                    <th>
                        Reverse sign
                        <a id="btnReverseAll" class="btn-floating btn-small waves-effect waves-light">
                            <i class="material-icons">autorenew</i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</body>
<script>
    require("../dist/detail.js");
</script>

</html>